@font-face {
  font-family: 'iconfont';
  /* project id 682850 */
  src: url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.eot');
  src: url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.woff') format('woff'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'meituan';
  src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484);
    src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484#iefix) format('embedded-opentype'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.woff?t=1503027869484) format('woff'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.ttf?t=1503027869484) format('truetype'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.svg?t=1503027869484#home-category-iconfont) format('svg')
}

body{
  margin: 0;
  padding: 0;
  background: @bgColor;
}
body *{
  margin: 0;
  padding: 0;
}
a{
  color: inherit;
}
// 修改elementui 默认样式

.el-header {
  padding: 0;
}

.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: @redColor;
  outline: 0;
  color: @blackColor;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background: @redColor;
  border-color: @redColor;
  box-shadow: -1px 0 0 @redColor;
}
.el-radio-button__inner:hover {
  color: @blackColor;
}